
<h1>New Article</h1>

<%= form_with model: @arr do |form| %>

  <div>
    <%= form.label :id %><br>
    <%= form.number_field :id %>
  </div>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :city %><br>
    <%= form.textarea :city %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


